{% extends 'student-base.html' %}

{% block title %}
Feed
{% endblock %}

{% block body %}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{{url_for('student.student_home')}}">Студент</a></li>
                    <li class="breadcrumb-item">Net Working</li>
                    <li class="breadcrumb-item active">Лента</li>
                </ol>
            </div>
            <h4 class="page-title">Лента</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xxl-3 col-lg-6 order-lg-1 order-xxl-1">
        <!-- start profile info -->
        <div class="card">
            <div class="card-body">

                <div class="d-flex align-self-start">
                    <img class="avatar-img d-flex align-self-start rounded me-2" src=""
                         alt="Dominic Keller" height="48">
                    <div class="w-100 overflow-hidden">
                        <h5 class="mt-1 mb-0">{{current_user.first_name}} {{current_user.last_name}}</h5>
                        <p class="mb-1 mt-1 text-muted">{{current_user.birthday}}</p>
                    </div>
                </div>
                <div class="list-group list-group-flush mt-2">
                    {% if current_user.sex.value == 'male' %}
                    <a class="list-group-item list-group-item-action border-0"><i class="fa-solid fa-person me-1"></i>Мужчина</a>
                    {% elif current_user.sex.value == 'female' %}
                    <a class="list-group-item list-group-item-action border-0"><i
                            class="fa-solid fa-person-dress me-1"></i>Женщина</a>
                    {% endif %}

                    {% if current_user.location != None %}
                    <a class="list-group-item list-group-item-action border-0"><i
                            class="fa-solid fa-location-dot me-1"></i>{% if current_user.location | length > 0
                        %}{{current_user.location}}{% else %}Локация{% endif %}</a>
                    {% endif %}

                    {% if current_user.languages != None %}
                    <a class="list-group-item list-group-item-action border-0"><i class="fa-solid fa-language me-1"></i>
                        {% if current_user.languages | length > 0 %}{% for language in current_user.languages
                        %}{{language}} {% endfor %}{% else %}Языки{% endif %}
                    </a>
                    {% endif %}

                    {% if current_user.profession != None %}
                    <a class="list-group-item list-group-item-action border-0"><i class="fa-solid fa-user-tie me-1"></i>{%
                        if current_user.profession | length > 0 %}{{current_user.profession}}{% else %}Профессия{% endif
                        %}</a>
                    {% endif %}

                    {% if current_user.university != None %}
                    <a class="list-group-item list-group-item-action border-0"><i
                            class="fa-solid fa-graduation-cap me-1"></i>{% if current_user.university | length > 0
                        %}{{current_user.university}}{% else %}Университет{% endif %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- end profile info -->


        <!-- tags -->
        <div class="card ribbon-box">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h4 class="header-title">Теги</h4>
                </div>

                {% if current_user.tags != None %}
                <ul class="list-group list-group-flush">
                    {% for tag in current_user.tags %}
                    <li class="list-group-item">{{tag}}</li>
                    {% endfor %}
                </ul>
                {% else%}
                <div class="ribbon ribbon-warning float-start"><i class="mdi mdi-access-point me-1"></i>Предупреждение
                </div>
                <div class="ribbon-content">
                    Заполните теги для лучшей работы сервиса Net Working
                </div>
                {% endif %}


            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->

    <div class="col-xxl-6 col-lg-12 order-lg-2 order-xxl-1">

        <div class="card">
            <div class="card-body p-0">
                <ul class="nav nav-tabs nav-bordered" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a href="#newpost" data-bs-toggle="tab" aria-expanded="false" class="nav-link active px-3 py-2"
                           aria-selected="true" role="tab">
                            <i class="mdi mdi-pencil-box-multiple font-18 d-md-none d-block"></i>
                            <span class="d-none d-md-block">Новая запись</span>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="#profile-edit" data-bs-toggle="tab" aria-expanded="true" class="nav-link px-3 py-2"
                           aria-selected="false" tabindex="-1" role="tab">
                            <i class="mdi mdi-account-settings font-18 d-md-none d-block"></i>
                            <span class="d-none d-md-block">Настройки профиля</span>
                        </a>
                    </li>
                </ul> <!-- end nav-->

                <div class="tab-content">
                    <div class="tab-pane show active p-3" id="newpost" role="tabpanel">
                        <!-- comment box -->
                        <div class="border rounded">
                            <form class="comment-area-box" action="{{url_for('student.student_feed')}}" method="post">
                                <textarea name="record_text" rows="4" class="form-control border-0 resize-none"
                                          placeholder="Напишите что-то...." required minlength="5"></textarea>
                                <div class="p-2 bg-light d-flex justify-content-between align-items-center">
                                    <button type="submit" name="btn_student_feed" value="record"
                                            class="btn btn-sm btn-success"><i
                                            class="uil uil-message me-1"></i>Опубликовать
                                    </button>
                                </div>
                            </form>
                        </div> <!-- end .border-->
                        <!-- end comment box -->
                    </div> <!-- end preview-->
                </div> <!-- end tab-content-->
                <div class="tab-content">
                    <div class="tab-pane show p-3" id="profile-edit" role="tabpanel">
                        <!-- comment box -->
                        <form action="{{url_for('student.student_feed')}}" method="post">
                            <div id="progressbarwizard">

                                <ul class="nav nav-pills nav-justified form-wizard-header mb-3" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a href="#profile-1" data-bs-toggle="tab" data-toggle="tab"
                                           class="nav-link rounded-0 py-2 active" aria-selected="true" role="tab">
                                            <i class="mdi mdi-account-circle font-18 align-middle me-1"></i>
                                            <span class="d-none d-sm-inline">Основные</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a href="#profile-2" data-bs-toggle="tab" data-toggle="tab"
                                           class="nav-link rounded-0 py-2" aria-selected="false" tabindex="-1"
                                           role="tab">
                                            <i class="mdi mdi-face-man-profile font-18 align-middle me-1"></i>
                                            <span class="d-none d-sm-inline">Языки и теги</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a href="#finish" data-bs-toggle="tab" data-toggle="tab"
                                           class="nav-link rounded-0 py-2" aria-selected="false" tabindex="-1"
                                           role="tab">
                                            <i class="mdi mdi-checkbox-marked-circle-outline font-18 align-middle me-1"></i>
                                            <span class="d-none d-sm-inline">Сохранение</span>
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content b-0 mb-3">

                                    <div id="bar" class="progress mb-3" style="height: 7px;">
                                        <div class="bar progress-bar progress-bar-striped progress-bar-animated bg-success"
                                             style="width: 33.3333%;"></div>
                                    </div>

                                    <div class="tab-pane active show" id="profile-1" role="tabpanel">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row mb-3">
                                                    <label class="col-md-3 col-form-label" for="editSex">Пол</label>
                                                    <div class="col-md-9">
                                                        <select id="editSex" name="editSex" class="form-select mb-3">
                                                            {% if current_user.sex.value == 'female' %}
                                                            <option value="female" selected>Женщина</option>
                                                            <option value="male">Мужчина</option>
                                                            {% else %}
                                                            <option value="male" selected>Мужчина</option>
                                                            <option value="female">Женщина</option>
                                                            {% endif %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label class="col-md-3 col-form-label" for="editLocation">
                                                        Локация</label>
                                                    <div class="col-md-9">
                                                        <input type="text" placeholder="Россия, Москва"
                                                               id="editLocation" name="editLocation"
                                                               class="form-control" value="{{current_user.location}}">
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <label class="col-md-3 col-form-label" for="editProfession">
                                                        Профессия</label>
                                                    <div class="col-md-9">
                                                        <input type="text" id="editProfession" name="editProfession"
                                                               class="form-control" value="{{current_user.profession}}">
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <label class="col-md-3 col-form-label" for="editUniversity">
                                                        Университет/Колледж/Школа</label>
                                                    <div class="col-md-9">
                                                        <input type="text" id="editUniversity" name="editUniversity"
                                                               class="form-control" value="{{current_user.university}}">
                                                    </div>
                                                </div>
                                            </div> <!-- end col -->
                                        </div> <!-- end row -->

                                        <ul class="list-inline wizard mb-0">
                                            <li class="next list-inline-item float-end">
                                                <a class="btn btn-info">Далее <i
                                                        class="mdi mdi-arrow-right ms-1"></i></a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="tab-pane" id="profile-2" role="tabpanel">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row mb-3">
                                                    <label class="col-md-3 col-form-label"
                                                           for="editLanguages">Языки</label>
                                                    <div class="col-md-9">
                                                        <!-- Multiple Select -->
                                                        <select id="editLanguages" name="editLanguages"
                                                                class="select2 form-control select2-multiple"
                                                                data-toggle="select2" multiple="multiple"
                                                                data-placeholder="Выбрать ...">
                                                            {% if current_user.languages != None %}
                                                            {% for language in current_user.languages %}
                                                            <option selected value="{{language}}">{{language}}</option>
                                                            {% endfor %}
                                                            {% endif %}
                                                            <option value="Russian">Русский</option>
                                                            <option value="English">English</option>
                                                            <option value="Hebrew">Иврит</option>
                                                            <option value="Afrikaans">Afrikaans</option>
                                                            <option value="Albanian">Albanian</option>
                                                            <option value="Amharic">Amharic</option>
                                                            <option value="Arabic">Arabic</option>
                                                            <option value="Aragonese">Aragonese</option>
                                                            <option value="Armenian">Armenian</option>
                                                            <option value="Asturian">Asturian</option>
                                                            <option value="Azerbaijani">Azerbaijani</option>
                                                            <option value="Basque">Basque</option>
                                                            <option value="Belarusian">Belarusian</option>
                                                            <option value="Bengali">Bengali</option>
                                                            <option value="Bosnian">Bosnian</option>
                                                            <option value="Breton">Breton</option>
                                                            <option value="Bulgarian">Bulgarian</option>
                                                            <option value="Catalan">Catalan</option>
                                                            <option value="Central Kurdish">Central Kurdish</option>
                                                            <option value="Chinese">Chinese</option>
                                                            <option value="Chinese (Hong Kong)">Chinese (Hong Kong)
                                                            </option>
                                                            <option value="Chinese (Simplified)">Chinese (Simplified)
                                                            </option>
                                                            <option value="Chinese (Traditional)">Chinese
                                                                (Traditional)
                                                            </option>
                                                            <option value="Corsican">Corsican</option>
                                                            <option value="Croatian">Croatian</option>
                                                            <option value="Czech">Czech</option>
                                                            <option value="Danish">Danish</option>
                                                            <option value="Dutch">Dutch</option>
                                                            <option value="English (Australia)">English (Australia)
                                                            </option>
                                                            <option value="English (Canada)">English (Canada)</option>
                                                            <option value="English (India)">English (India)</option>
                                                            <option value="English (New Zealand)">English (New
                                                                Zealand)
                                                            </option>
                                                            <option value="English (South Africa)">English (South
                                                                Africa)
                                                            </option>
                                                            <option value="English (United Kingdom)">English (United
                                                                Kingdom)
                                                            </option>
                                                            <option value="English (United States)">English (United
                                                                States)
                                                            </option>
                                                            <option value="Esperanto">Esperanto</option>
                                                            <option value="Estonian">Estonian</option>
                                                            <option value="Faroese">Faroese</option>
                                                            <option value="Filipino">Filipino</option>
                                                            <option value="Finnish">Finnish</option>
                                                            <option value="French">French</option>
                                                            <option value="French (Canada)">French (Canada)</option>
                                                            <option value="French (France)">French (France)</option>
                                                            <option value="French (Switzerland)">French (Switzerland)
                                                            </option>
                                                            <option value="Galician">Galician</option>
                                                            <option value="Georgian">Georgian</option>
                                                            <option value="German">German</option>
                                                            <option value="German (Austria)">German (Austria)</option>
                                                            <option value="German (Germany)">German (Germany)</option>
                                                            <option value="German (Liechtenstein)">German
                                                                (Liechtenstein)
                                                            </option>
                                                            <option value="German (Switzerland)">German (Switzerland)
                                                            </option>
                                                            <option value="Greek">Greek</option>
                                                            <option value="Guarani">Guarani</option>
                                                            <option value="Gujarati">Gujarati</option>
                                                            <option value="Hausa">Hausa</option>
                                                            <option value="Hawaiian">Hawaiian</option>
                                                            <option value="Hindi">Hindi</option>
                                                            <option value="Hungarian">Hungarian</option>
                                                            <option value="Icelandic">Icelandic</option>
                                                            <option value="Indonesian">Indonesian</option>
                                                            <option value="Interlingua">Interlingua</option>
                                                            <option value="Irish">Irish</option>
                                                            <option value="Italian">Italian</option>
                                                            <option value="Italian (Italy)">Italian (Italy)</option>
                                                            <option value="Italian (Switzerland)">Italian
                                                                (Switzerland)
                                                            </option>
                                                            <option value="Japanese">Japanese</option>
                                                            <option value="Kannada">Kannada</option>
                                                            <option value="Kazakh">Kazakh</option>
                                                            <option value="Khmer">Khmer</option>
                                                            <option value="Korean">Korean</option>
                                                            <option value="Kurdish">Kurdish</option>
                                                            <option value="Kyrgyz">Kyrgyz</option>
                                                            <option value="Lao">Lao</option>
                                                            <option value="Latin">Latin</option>
                                                            <option value="Latvian">Latvian</option>
                                                            <option value="Lingala">Lingala</option>
                                                            <option value="Lithuanian">Lithuanian</option>
                                                            <option value="Macedonian">Macedonian</option>
                                                            <option value="Malay">Malay</option>
                                                            <option value="Malayalam">Malayalam</option>
                                                            <option value="Maltese">Maltese</option>
                                                            <option value="Marathi">Marathi</option>
                                                            <option value="Mongolian">Mongolian</option>
                                                            <option value="Nepali">Nepali</option>
                                                            <option value="Norwegian">Norwegian</option>
                                                            <option value="Norwegian Bokm?l">Norwegian Bokm?l</option>
                                                            <option value="Norwegian Nynorsk">Norwegian Nynorsk</option>
                                                            <option value="Occitan">Occitan</option>
                                                            <option value="Oriya">Oriya</option>
                                                            <option value="Oromo">OrOromoo</option>
                                                            <option value="Pashto">Pashto</option>
                                                            <option value="Persian">Persian</option>
                                                            <option value="Polish">Polish</option>
                                                            <option value="Portuguese">Portuguese
                                                            </option>
                                                            <option value="Portuguese (Brazil)">Portuguese (Brazil)
                                                            </option>
                                                            <option value="Portuguese (Portugal)">Portuguese
                                                                (Portugal)
                                                            </option>
                                                            <option value="Punjabi">Punjabi</option>
                                                            <option value="Quechua">Quechua</option>
                                                            <option value="Romanian">Romanian</option>
                                                            <option value="Romanian (Moldova)">Romanian (Moldova)
                                                            </option>
                                                            <option value="Romansh">Romansh</option>
                                                            <option value="Scottish Gaelic">Scottish Gaelic</option>
                                                            <option value="Serbian">Serbian</option>
                                                            <option value="Serbo">Serbo</option>
                                                            <option value="Shona">Shona</option>
                                                            <option value="Sindhi">Sindhi</option>
                                                            <option value="Sinhala">Sinhala</option>
                                                            <option value="Slovak">Slovak</option>
                                                            <option value="Slovenian">Slovenian</option>
                                                            <option value="Somali">Somali</option>
                                                            <option value="Southern Sotho">Southern Sotho</option>
                                                            <option value="Spanish">Spanish</option>
                                                            <option value="Spanish (Argentina)">Spanish (Argentina)
                                                            </option>
                                                            <option value="Spanish (Latin America)">Spanish (Latin
                                                                America)
                                                            </option>
                                                            <option value="Spanish (Mexico)">Spanish (Mexico)</option>
                                                            <option value="Spanish (Spain)">Spanish (Spain)</option>
                                                            <option value="Spanish (United States)">Spanish (United
                                                                States)
                                                            </option>
                                                            <option value="Sundanese">Sundanese</option>
                                                            <option value="Swahili">Swahili</option>
                                                            <option value="Swedish">Swedish</option>
                                                            <option value="Tajik">Tajik</option>
                                                            <option value="Tamil">Tamil</option>
                                                            <option value="Tatar">Tatar</option>
                                                            <option value="Telugu">Telugu</option>
                                                            <option value="Thai">Thai</option>
                                                            <option value="Tigrinya">Tigrinya</option>
                                                            <option value="Tongan">Tongan</option>
                                                            <option value="Turkish">Turkish</option>
                                                            <option value="Turkmen">Turkmen</option>
                                                            <option value="Twi">Twi</option>
                                                            <option value="Ukrainian">Ukrainian</option>
                                                            <option value="Urdu">Urdu</option>
                                                            <option value="Uyghur">Uyghur</option>
                                                            <option value="Uzbek">Uzbek</option>
                                                            <option value="Vietnamese">Vietnamese</option>
                                                            <option value="Walloon">Walloon</option>
                                                            <option value="Welsh">Welsh</option>
                                                            <option value="Western Frisian">Western Frisian</option>
                                                            <option value="Xhosa">Xhosa</option>
                                                            <option value="Yiddish">Yiddish</option>
                                                            <option value="Yoruba">Yoruba</option>
                                                            <option value="Zulu">Zulu</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label class="col-md-3 col-form-label" for="editTags"> Теги (пишите
                                                        через пробел)</label>
                                                    <div class="col-md-9">
                                                        <textarea class="form-control" name="editTags" id="editTags"
                                                                  rows="5">{% if current_user.tags != None %}{% for tag in current_user.tags %}{{tag}} {% endfor %}{% endif %}</textarea>
                                                    </div>
                                                </div>
                                            </div> <!-- end col -->
                                        </div> <!-- end row -->
                                        <ul class="pager wizard mb-0 list-inline">
                                            <li class="previous list-inline-item disabled">
                                                <button type="button" class="btn btn-light"><i
                                                        class="mdi mdi-arrow-left me-1"></i> Назад
                                                </button>
                                            </li>
                                            <li class="next list-inline-item float-end">
                                                <button type="button" class="btn btn-info">Далее <i
                                                        class="mdi mdi-arrow-right ms-1"></i></button>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="tab-pane" id="finish" role="tabpanel">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="text-center">
                                                    <h2 class="mt-0"><i class="mdi mdi-check-all"></i></h2>
                                                    <h3 class="mt-0">Спасибо!</h3>
                                                </div>
                                            </div> <!-- end col -->
                                        </div> <!-- end row -->
                                        <ul class="pager wizard mb-0 list-inline mt-1">
                                            <li class="previous list-inline-item disabled">
                                                <button type="button" class="btn btn-light"><i
                                                        class="mdi mdi-arrow-left me-1"></i> Назад
                                                </button>
                                            </li>
                                            <li class="next list-inline-item float-end">
                                                <button type="submit" name="btn_student_feed" value="profile"
                                                        class="btn btn-info">Сохранить
                                                </button>
                                            </li>
                                        </ul>
                                    </div>

                                </div> <!-- tab-content -->
                            </div> <!-- end #progressbarwizard-->
                        </form>
                        <!-- end comment box -->
                    </div> <!-- end preview-->
                </div> <!-- end tab-content-->
            </div>
        </div>

        <div id="records">
            <!-- start news feeds -->
            {% for record in records[:5] %}
            <div class="card">
                <div class="card-body pb-1">
                    <div class="d-flex">
                        <img class="me-2 rounded" src="{{url_for('api.get_avatar', user_id=record['user_id'])}}"
                             alt="avatar"
                             height="32">
                        <div class="w-100">
                            <h5 class="m-0">{{record['author']}}</h5>
                            <p class="text-muted"><small>{{record['time']}}</small></p>
                        </div> <!-- end w-100-->
                    </div> <!-- end d-flex -->

                    <hr class="m-0">

                    <div class="my-3">
                        <p>{{record['text']}}</p>
                    </div>

                </div> <!-- end card-body -->
            </div>
            {% endfor %}
            <!-- end news feeds -->
        </div>


    </div>

    <div class="col-xxl-3 col-lg-6 order-lg-1 order-xxl-2">
        <!-- video -->
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="header-title">Featured Video For You</h4>
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <i class="mdi mdi-dots-horizontal"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Today</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Yesterday</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Last Week</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Last Month</a>
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/9_eqq0HlN9g?autohide=0&amp;showinfo=0&amp;controls=0"></iframe>
                    </div>
                </div>
            </div> <!-- end card-body -->
        </div>
        <!-- end video -->

        <!-- video -->
        <div class="card">
            <div class="card-body pb-0">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h4 class="header-title">People you may know</h4>
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <i class="mdi mdi-dots-horizontal"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">View All</a>
                        </div>
                    </div>
                </div>

                <div class="inbox-widget">
                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="rounded-circle"
                                                         alt=""></div>
                        <p class="inbox-item-author">Robb Stark</p>
                        <p class="inbox-item-text">The first king in the North</p>
                        <p class="inbox-item-date">
                            <button type="button" class="btn btn-sm btn-outline-primary px-1 py-0"><i
                                    class="uil uil-user-plus font-16"></i></button>
                        </p>
                    </div>
                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="assets/images/users/avatar-3.jpg" class="rounded-circle"
                                                         alt=""></div>
                        <p class="inbox-item-author">Stillnot David </p>
                        <p class="inbox-item-text">Lady of winterfall</p>
                        <p class="inbox-item-date">
                            <button type="button" class="btn btn-sm btn-outline-primary px-1 py-0"><i
                                    class="uil uil-user-plus font-16"></i></button>
                        </p>
                    </div>
                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="assets/images/users/avatar-4.jpg" class="rounded-circle"
                                                         alt=""></div>
                        <p class="inbox-item-author">Cersei Lannister</p>
                        <p class="inbox-item-text">Queen of the Seven Kingdoms</p>
                        <p class="inbox-item-date">
                            <button type="button" class="btn btn-sm btn-outline-primary px-1 py-0"><i
                                    class="uil uil-user-plus font-16"></i></button>
                        </p>
                    </div>

                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="assets/images/users/avatar-5.jpg" class="rounded-circle"
                                                         alt=""></div>
                        <p class="inbox-item-author">Daenerys Targaryen</p>
                        <p class="inbox-item-text">Hey! there I'm available...</p>
                        <p class="inbox-item-date">
                            <button type="button" class="btn btn-sm btn-outline-primary px-1 py-0"><i
                                    class="uil uil-user-plus font-16"></i></button>
                        </p>
                    </div>
                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="assets/images/users/avatar-6.jpg" class="rounded-circle"
                                                         alt=""></div>
                        <p class="inbox-item-author">Adhamd Annaway</p>
                        <p class="inbox-item-text">Queen Daenerys</p>
                        <p class="inbox-item-date">
                            <button class="btn btn-sm btn-outline-primary px-1 py-0"><i
                                    class="uil uil-user-plus font-16"></i></button>
                        </p>
                    </div>
                </div> <!-- end inbox-widget -->

                <div class="mt-2 mb-3 text-center">
                    <a href="">View More<i class="uil uil-arrow-right ms-1"></i></a>
                </div>

            </div> <!-- end card-body -->
        </div>
        <!-- end video -->
    </div> <!-- end col -->
</div>

<script>

    // Если отправили запрос, но ещё не получили ответ,
    // не нужно отправлять ещё один запрос:
    let isLoading = false;

    // Если контент закончился, вообще больше не нужно
    // отправлять никаких запросов:
    let shouldLoad = true;

    let records = {{records | safe}};

    let counter = 5;

    $(document).ready(function () {
        if (records.length > 5) {
            window.addEventListener('scroll', throttle(checkPosition, 250));
            window.addEventListener('resize', throttle(checkPosition, 250));
        }
    });

    async function checkPosition() {
        // Нам потребуется знать высоту документа и высоту экрана:
        const height = document.body.offsetHeight
        const screenHeight = window.innerHeight

        // Они могут отличаться: если на странице много контента,
        // высота документа будет больше высоты экрана (отсюда и скролл).

        // Записываем, сколько пикселей пользователь уже проскроллил:
        const scrolled = window.scrollY

        // Обозначим порог, по приближении к которому
        // будем вызывать какое-то действие.
        // В нашем случае — четверть экрана до конца страницы:
        const threshold = height - screenHeight / 4

        // Отслеживаем, где находится низ экрана относительно страницы:
        const position = scrolled + screenHeight

        if (position >= threshold) {
            await fetchRecords()
        }
    }

    function appendRecord(index) {
        let recs = document.getElementById("records");
        const rec_html = "<div class=\"card\">" +
            "                <div class=\"card-body pb-1\">" +
            "                    <div class=\"d-flex\">" +
            "                        <img class=\"me-2 rounded\" src=\"/api/avatar/"+records[index]['user_id']+"\"" +
            "                             alt=\"avatar\"" +
            "                             height=\"32\">" +
            "                        <div class=\"w-100\">" +
            "                            <h5 class=\"m-0\">"+records[index]['author']+"</h5>" +
            "                            <p class=\"text-muted\"><small>"+records[index]['time']+"</small></p>" +
            "                        </div> <!-- end w-100-->" +
            "                    </div> <!-- end d-flex -->" +
            "                    <hr class=\"m-0\">" +
            "                    <div class=\"my-3\">" +
            "                        <p>"+records[index]['text']+"</p>" +
            "                    </div>" +
            "                </div> <!-- end card-body -->" +
            "            </div>"
        recs.innerHTML+=rec_html;
    }

    async function fetchRecords() {
        // Если мы уже отправили запрос, или новый контент закончился,
        // то новый запрос отправлять не надо:
        if (isLoading || !shouldLoad) return;

        // Предотвращаем новые запросы, пока не закончится этот:
        isLoading = true;

        let i = 0;
        while (i < 5 && counter + i < records.length) {
            appendRecord(counter + i);
            i++;
        }
        counter += i;

        // Если мы увидели, что контент закончился,
        // отмечаем, что больше запрашивать ничего не надо:
        if (counter >= records.length) shouldLoad = false

        // Когда запрос выполнен и обработан,
        // снимаем флаг isLoading:
        isLoading = false
    }

    // Функция throttle будет принимать 2 аргумента:
    // - callee, функция, которую надо вызывать;
    // - timeout, интервал в мс, с которым следует пропускать вызовы.
    function throttle(callee, timeout) {
        // Таймер будет определять,
        // надо ли нам пропускать текущий вызов.
        let timer = null

        // Как результат возвращаем другую функцию.
        // Это нужно, чтобы мы могли не менять другие части кода,
        // чуть позже мы увидим, как это помогает.
        return function perform(...args) {
            // Если таймер есть, то функция уже была вызвана,
            // и значит новый вызов следует пропустить.
            if (timer) return

            // Если таймера нет, значит мы можем вызвать функцию:
            timer = setTimeout(() => {
                // Аргументы передаём неизменными в функцию-аргумент:
                callee(...args)

                // По окончании очищаем таймер:
                clearTimeout(timer)
                timer = null
            }, timeout)
        }
    }


</script>

{% endblock %}