{% extends 'admin-base.html' %}

{% block title %}
    Attendance Stars
{% endblock %}

{% block body %}

    <style>
        /* Pre-loader CSS */
        .page-loader {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--ct-gray-100);
            z-index: 9999;


            .txt {
                color: #666;
                text-align: center;
                top: 40%;
                position: relative;
                text-transform: uppercase;
                letter-spacing: 0.3rem;
                font-weight: bold;
                line-height: 1.5;
            }
        }

        /* Spinner animation */
        .spinner {
            position: relative;
            top: 35%;
            width: 80px;
            height: 80px;
            margin: 0 auto;
            background-color: #ff5b5b;
            border-radius: 100%;
            -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
            animation: sk-scaleout 1.0s infinite ease-in-out;
        }

        @-webkit-keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0)
            }
            100% {
                -webkit-transform: scale(1.0);
                opacity: 0;
            }
        }

        @keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            100% {
                -webkit-transform: scale(1.0);
                transform: scale(1.0);
                opacity: 0;
            }
        }
    </style>

    <div id="next_page_loader" class="page-loader" style="visibility: hidden ">
        <div class="spinner"></div>
        <div class="txt">Loading...<br>Пожалуйста, дождитесь конца загрузки<br>Это может занять некоторое время</div>
    </div>

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{{ url_for('admin.admin_home') }}">Администратор</a>
                        </li>
                        <li class="breadcrumb-item active">Посещаемость Stars</li>
                    </ol>
                </div>
                <h4 class="page-title" id="page-header">Посещаемость</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row mt-3">
        <form method="post">
            <button type="submit" name="btn_attendance_stars" value="import" class="btn btn-success me-3"><i
                    class="fa-solid fa-file-excel"></i> <span>EXCEL</span></button>
            <a onclick="show_loader();" href="{{ url_for('admin.admin_attendance_stars_export_month', month=month) }}"
               class="btn btn-info"><i class="fa-solid fa-upload"></i> <span>Загрузить в базу Stars</span></a>
        </form>
    </div>

    <div class="mt-3">
        {% for day, data in days.items() %}
            <div class="row">
                <div class="card ribbon-box">
                    <div class="accordion d-flex card-header justify-content-between align-items-center collapsed"
                         data-bs-toggle="collapse" data-bs-target="#collapse_{{ day }}" aria-expanded="true"
                         aria-controls="collapse_{{ day }}">
                        <h3 class="text-primary float-start mt-0">{{ data['date'] }}</h3>
                        <div class="ribbon ribbon-primary float-end">
                            (Студентов: {{ data['trip'] | length + data['grant'] | length }},
                            Посещений: {{ data['trip'].values() | sum + data['grant'].values() | sum }})
                        </div>
                    </div>

                    <div class="card-body pt-0 collapse" id="collapse_{{ day }}" aria-labelledby="heading_{{ day }}">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>Поездка (Студентов: {{ data['trip'] | length }},
                                    Посещений: {{ data['trip'].values() | sum }})</h4>
                            </div>
                            <div class="col-lg-6">
                                <h4>Стипендия (Студентов: {{ data['grant'] | length }},
                                    Посещений: {{ data['grant'].values() | sum }})</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-group list-group-flush">
                                    {% for name, count in data['trip'].items() %}
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-lg-10">
                                                    {{ name }}
                                                </div>
                                                <div class="col-lg-2">
                                                    {% if count == 1 %}
                                                        {{ count }}
                                                    {% elif count == 2 %}
                                                        <h4><span class="badge bg-dark text-light"> {{ count }}</span>
                                                        </h4>
                                                    {% else %}
                                                        <h4><span class="badge bg-danger text-light"> {{ count }}</span>
                                                        </h4>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-group list-group-flush">
                                    {% for name, count in data['grant'].items() %}
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-lg-10">
                                                    {{ name }}
                                                </div>
                                                <div class="col-lg-2">
                                                    {% if count == 1 %}
                                                        {{ count }}
                                                    {% elif count == 2 %}
                                                        <h4><span class="badge bg-dark text-light"> {{ count }}</span>
                                                        </h4>
                                                    {% else %}
                                                        <h4><span class="badge bg-danger text-light"> {{ count }}</span>
                                                        </h4>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div> <!-- end card-body-->
                </div>
            </div>
        {% endfor %}

    </div>

    <script>

        function show_loader() {
            document.getElementById("next_page_loader").style.setProperty('visibility', 'visible');
        }

    </script>
{% endblock %}