{% extends 'admin-base.html' %}

{% block title %}
    Schedule
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="../../../assets/schedule/css/style.css">
{% endblock %}

{% block body %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{{ url_for('admin.admin_home') }}">Администратор</a>
                        </li>
                        <li class="breadcrumb-item active">Расписание</li>
                    </ol>
                </div>
                <h4 class="page-title">Расписание<a class="ms-3" href="https://jewellclub.ru/activities/kursy/"
                                                    target="_blank">Подробнее</a></h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                    <tr class="bg-light-gray">
                        <th class="text-uppercase">Время</th>
                        <th class="text-uppercase">Воскресенье</th>
                        <th class="text-uppercase">Понедельник</th>
                        <th class="text-uppercase">Вторник</th>
                        <th class="text-uppercase">Среда</th>
                        <th class="text-uppercase">Четверг</th>
                        <th class="text-uppercase">Пятница</th>
                        <th class="text-uppercase">Суббота</th>
                    </tr>
                    </thead>
                    <tbody id="timetable">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end row-->

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">
                    Настройка расписания курсов
                </h4>

            </div>
            <button onclick="select_teachers();" type="button" class="mb-2 btn btn-danger rounded-pill"
                    data-bs-toggle="modal"
                    data-bs-target="#course-modal"><i class="mdi mdi-plus"></i>Добавить курс
            </button>
        </div>
    </div>

    <div class="row">
        {% for course in courses %}
            <div class="col-md-6 col-xxl-3">
                <!-- project card -->
                <div id="course_{{ course.name }}" class="card d-block" style="border: 2px solid black">
                    <div class="card-body">
                        <div class="dropdown card-widgets">
                            <a class="dropdown-toggle arrow-none" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <i class="ri-more-fill"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" style="">
                                <!-- item-->
                                <a class="dropdown-item"
                                   onclick="set_course_data('{{ course.id }}', '{{ course.name }}');"
                                   data-bs-toggle="modal"
                                   data-bs-target="#course-modal-edit"><i class="mdi mdi-pencil me-1"></i>Редактировать</a>
                                <!-- item-->
                                <form method="post">
                                    <input type="hidden" name="course_id" value="{{ course.id }}">
                                    <button onclick="return confirm('Вы точно хотите удалить курс?')"
                                            class="dropdown-item" type="submit" name="btn_schedule"
                                            value="delete_course"><i class="mdi mdi-delete me-1"></i>Удалить
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- project title-->
                        <h4 class="mt-0">
                            <a class="text-title">{{ course.name }}</a>
                        </h4>

                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div>
        {% endfor %}
    </div>
    <!-- end row-->

    <div id="course-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-danger">
                    <h4 class="modal-title" id="primary-header-modalLabel">Добавление курса</h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-hidden="true"></button>
                </div>
                <div class="modal-body">

                    <form class="ps-3 pe-3" method="post">

                        <div class="mb-3">
                            <label for="course_name" class="form-label">Название</label>
                            <input class="form-control" type="text" id="course_name" name="course_name" required>
                        </div>

                        <div class="mb-3">
                            <label for="course_name" class="form-label">Учителя</label>
                            <!-- Multiple Select -->
                            <select id="course_teachers" name="course_teachers"
                                    class="mt-3 select2 form-control select2-multiple"
                                    data-toggle="select2" multiple="multiple"
                                    data-placeholder="Выбрать ..." required>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="course_name" class="form-label">Расписание</label>
                            <!-- Multiple Select -->
                            <select id="course_times" name="course_times"
                                    class="mt-3 select2 form-control select2-multiple"
                                    data-toggle="select2" multiple="multiple"
                                    data-placeholder="Выбрать ..." required>
                            </select>
                        </div>

                        <div class="mt-3 text-center">
                            <button class="btn rounded-pill btn-danger" type="submit" name="btn_schedule"
                                    value="add_course">Создать
                            </button>
                        </div>

                    </form>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="course-modal-edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-primary">
                    <h4 class="modal-title" id="primary-header-modalLabel">Редактирование курса</h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-hidden="true"></button>
                </div>
                <div class="modal-body">

                    <form class="ps-3 pe-3" method="post">
                        <input type="hidden" id="edit_course_id" name="course_id" value="">

                        <div class="mb-3">
                            <label for="course_name" class="form-label">Название</label>
                            <input class="form-control" type="text" id="edit_course_name" name="course_name" required>
                        </div>

                        <div class="mb-3">
                            <label for="course_name" class="form-label">Учителя</label>
                            <!-- Multiple Select -->
                            <select id="edit_course_teachers" name="course_teachers"
                                    class="mt-3 select2 form-control select2-multiple"
                                    data-toggle="select2" multiple="multiple"
                                    data-placeholder="Выбрать ..." required>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="course_name" class="form-label">Расписание</label>
                            <!-- Multiple Select -->
                            <select id="edit_course_times" name="course_times"
                                    class="mt-3 select2 form-control select2-multiple"
                                    data-toggle="select2" multiple="multiple"
                                    data-placeholder="Выбрать ..." required>
                            </select>
                        </div>

                        <div class="mt-3 text-center">
                            <button class="btn rounded-pill btn-primary" type="submit" name="btn_schedule"
                                    value="edit_course">Сохранить
                            </button>
                        </div>

                    </form>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>

        let courses;
        set_schedule();
        select_times();

        function set_schedule() {
            try {
                const link = "{{url_for('api.get_schedule')}}";
                $.ajax({
                    type: 'POST',
                    url: link,
                    success: function (result) {
                        const res = JSON.parse(result);
                        if (res.success) {
                            let table = document.getElementById("timetable");
                            let times = res.times;
                            courses = res.courses;
                            let colors = res.colors;
                            for (let i = 0; i < times.length; ++i) {
                                let row = document.createElement("tr");
                                let time = document.createElement("td");
                                time.setAttribute('class', 'align-middle');
                                time.innerText = `${('0' + times[i]['hours']).slice(-2)}:${('0' + times[i]['minutes']).slice(-2)}`;
                                row.appendChild(time);
                                for (let day = 0; day < 7; ++day) {
                                    let cell = document.createElement("td");
                                    cell.setAttribute('id', `${get_day_of_week(day)}-${times[i]['hours']}-${times[i]['minutes']}`);
                                    row.appendChild(cell);
                                }
                                table.appendChild(row);
                            }
                            for (let i = 0; i < courses.length; ++i) {
                                //setting colors for teachers's courses
                                let course = document.getElementById("course_" + courses[i].name);
                                course.style.borderColor = colors[courses[i].name];

                                let tt = courses[i]['timetable'];
                                for (const [key, value] of Object.entries(tt)) {
                                    let cell_id = `${key}-${value.hours}-${value.minutes}`;
                                    let cell = document.getElementById(cell_id);
                                    let span = document.createElement("span");
                                    span.setAttribute('class', 'padding-5px-tb padding-15px-lr border-radius-5 me-3 text-white font-size16 xs-font-size13');
                                    span.setAttribute('style', 'background-color: ' + colors[courses[i].name]);
                                    span.setAttribute('data-index', i.toString());
                                    span.setAttribute('onclick', "show_info_about_course(" + i + ")");
                                    span.innerText = courses[i].name;
                                    cell.appendChild(span);

                                    //setting timetable for admin's courses
                                    let p = document.createElement("p");
                                    p.setAttribute('class', 'card-text');
                                    p.innerText = `${to_rus(key)} ${('0' + value.hours).slice(-2)}:${('0' + value.minutes).slice(-2)}`;
                                    course.children[0].appendChild(p);
                                }

                                //teachers
                                let teachers = document.createElement("div");
                                teachers.setAttribute('class', 'row');
                                for (const teacher of courses[i].teachers) {
                                    teachers.innerHTML += teacher;
                                }
                                course.children[0].appendChild(teachers);
                            }

                        } else {
                            $.NotificationApp.send("Расписание", "Не удалось загрузить расписание", "top-right", "#FF5B5B", "error");
                        }
                    }
                });
            } catch (err) {
                console.log(err);
            }
        }

        function show_info_about_course(index) {
            const course = courses[index];
            let course_html = '<b>Учителя: </b>';
            for (let i = 0; i < course.teachers.length - 1; ++i) {
                course_html += course.teachers[i] + ', ';
            }
            course_html += course.teachers[course.teachers.length - 1];
            course_html += '<br><br>';
            for (const [key, value] of Object.entries(course.timetable)) {
                course_html += `${to_rus(key)} ${('0' + value.hours).slice(-2)}:${('0' + value.minutes).slice(-2)} <br>`;
            }
            Swal.fire({
                title: '<strong>' + course.name + '</strong>',
                icon: 'info',
                html: course_html,
                showCloseButton: true
            })
        }

        function get_day_of_week(day) {
            switch (day) {
                case 0:
                    return "sunday";
                case 1:
                    return "monday";
                case 2:
                    return "tuesday";
                case 3:
                    return "wednesday";
                case 4:
                    return "thursday";
                case 5:
                    return "friday";
                case 6:
                    return "saturday";
            }

        }

        function to_rus(day) {
            switch (day) {
                case "sunday":
                    return "Воскресенье";
                case "monday":
                    return "Понедельник";
                case "tuesday":
                    return "Вторник";
                case "wednesday":
                    return "Среда";
                case "thursday":
                    return "Четверг";
                case "friday":
                    return "Пятница";
                case "saturday":
                    return "Суббота";
            }

        }

        function select_teachers(element = "course_teachers", sel_teachers = []) {
            let sel = document.getElementById(element);
            sel.innerHTML = "";
            const teachers = {{teachers | safe}};
            for (const [key, value] of Object.entries(teachers)) {
                let opt = document.createElement("option");
                opt.setAttribute("value", value.id);
                opt.innerText = value.name;
                if (sel_teachers.includes(value.id)) {
                    opt.selected = true;
                }
                sel.appendChild(opt);
            }
        }

        function select_times(element = "course_times", sel_times = []) {
            let sel = document.getElementById(element);
            sel.innerHTML = "";
            const days = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"];
            const hours = [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22];
            const minutes = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55];
            for (const day of days) {
                for (const hour of hours) {
                    for (const minute of minutes) {
                        let opt = document.createElement("option");
                        opt.setAttribute("value", `${day}-${hour}-${minute}`);
                        opt.innerText = `${to_rus(day)} ${hour}:${('0' + minute).slice(-2)}`;
                        if (sel_times.includes(`${day}-${hour}-${minute}`)) {
                            opt.selected = true;
                        }
                        sel.appendChild(opt);
                    }
                }
            }
        }

        function set_course_data(id, name) {
            document.getElementById("edit_course_id").value = "";
            document.getElementById("edit_course_name").value = "";
            for (const [key, value] of Object.entries(courses)) {
                if (value.name == name) {
                    document.getElementById("edit_course_id").value = id;
                    document.getElementById("edit_course_name").value = name;
                    sel_teachers = [];
                    for (const t of value.teachers) {
                        const indexStart = t.indexOf('profile') + 'profile'.length + 1;
                        const indexEnd = t.indexOf('target=') - 2;
                        const t_id = t.substring(indexStart, indexEnd);
                        sel_teachers.push(t_id);
                    }
                    select_teachers("edit_course_teachers", sel_teachers);
                    sel_times = [];
                    for (const [k, v] of Object.entries(value.timetable)) {
                        sel_times.push(`${k}-${v.hours}-${v.minutes}`);
                    }
                    select_times("edit_course_times", sel_times);
                    break;
                }
            }

        }

    </script>

{% endblock %}