{% extends 'admin-base.html' %}

{% block title %}
    Files
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{{ url_for('admin.admin_home') }}">Администратор</a></li>
                        <li class="breadcrumb-item">Конфигурация</li>
                        <li class="breadcrumb-item active">Файлы</li>
                    </ol>
                </div>
                <h4 class="page-title">Файловый менеджер</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="jstree">
            <ul>
                {% for folder in folders %}
                    folder
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#jstree').jstree();
        });
    </script>

{% endblock %}