{% extends 'admin-base.html' %}

{% block title %}
    DataBase
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{{ url_for('admin.admin_home') }}">Администратор</a></li>
                        <li class="breadcrumb-item">Безопасность</li>
                        <li class="breadcrumb-item active">База Данных</li>
                    </ol>
                </div>
                <h4 class="page-title">Управление базой данных</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card card-h-100">
            <div class="d-flex card-header justify-content-between align-items-center">
                <h4 class="header-title">Пользователи</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="id_user" class="form-label">ID</label>
                            <input type="text" id="id_user" name="id_user" class="form-control" required>
                        </div>
                        <div class="col-lg-3">
                            <label for="field_user" class="form-label">Поле</label>
                            <select class="form-select" id="field_user" name="field_user" required>
                                <option value="phone_number">Телефон</option>
                                <option value="telegram_username">Telegram username</option>
                                <option value="role">Роль</option>
                                <option value="reward">Награда</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label for="value_user" class="form-label">Значение</label>
                            <input type="text" id="value_user" name="value_user" class="form-control" required>
                        </div>
                        <div class="col-lg-3 mt-lg-3">
                            <button name="database" value="users" type="submit" class="btn btn-dark w-100">Обновить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}