{% extends 'admin-base.html' %}

{% block title %}
    Sessions
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{{ url_for('admin.admin_home') }}">Администратор</a></li>
                        <li class="breadcrumb-item">Безопасность</li>
                        <li class="breadcrumb-item active">Сессии</li>
                    </ol>
                </div>
                <h4 class="page-title">Сессии пользователей</h4>
            </div>
        </div>
    </div>


{% endblock %}