{% extends 'admin-base.html' %}

{% block title %}
    Admin
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Главная</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 m-auto">
            <div class="card cta-box overflow-hidden">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <h3 class="m-0 fw-normal cta-box-title">Время зажигания
                                свечей:<br><b>{{ shabbat['candle'] }}</b>
                            </h3>
                        </div>
                        <img class="ms-3" src="../../assets/images/shabbat/candle.jpg" width="92"
                             alt="Generic placeholder image">
                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!--end card-->
        </div> <!-- end col -->

        <div class="col-lg-4 m-auto">
            <div class="card cta-box overflow-hidden">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <h3 class="m-0 fw-normal cta-box-title">Авдала:<br><b>{{ shabbat['havdalah'] }}</b></h3>
                        </div>
                        <img class="ms-3" src="../../assets/images/shabbat/havdalah.jpg" width="92"
                             alt="Generic placeholder image">
                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!--end card-->
        </div> <!-- end col -->

        <div class="col-lg-4 m-auto">
            <div class="card cta-box overflow-hidden">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <a href="{{ system_variables['shabbat'] }}" target="_blank"><h3
                                    class="m-0 fw-normal cta-box-title">КАББАЛАТ ШАББАТ</h3></a>
                        </div>
                        <img class="ms-3" src="../../assets/images/brands/yahad-logo.png" width="92"
                             alt="Generic placeholder image">
                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!--end card-->
        </div> <!-- end col -->


    </div>

    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <h4 class="header-title mb-3">Поездки YAHAD</h4>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                data-bs-target="#map-modal"><i class="mdi mdi-wrench"></i></button>
                    </div>
                </div>
                <div id="world-map" style="height: 360px"></div>
            </div>
        </div> <!-- end col-->
    </div>

    <div class="row">
        <div class="card bg-primary bg-opacity-10">
            <div class="card-header">
                <h4 class="header-title">Новости</h4>
            </div>
            <div class="card-body py-0" data-simplebar data-simplebar-primary style="height: 1000px;">
                {% for i in news %}
                    <div class="card mt-2">
                        <div class="card-body pb-1">
                            <div class="card-widgets">
                                <a data-bs-toggle="collapse" href="#{{ i['record_id'] }}" role="button"
                                   aria-expanded="false" aria-controls="{{ i['record_id'] }}"><i
                                        class="mdi mdi-minus"></i></a>
                                <a href="#" data-bs-toggle="remove"><i class="mdi mdi-close"></i></a>
                            </div>
                            <a href="{{ url_for('networking.profile', user_id=i['user_id']) }}" class="d-flex">
                                <img class="me-2 rounded" src="{{ url_for('api.get_avatar', user_id=i['user_id']) }}"
                                     alt="avatar"
                                     height="32">
                                <div class="w-100">
                                    <h5 class="m-0">{{ i['author'] }}</h5>
                                    <p class="text-muted"><small>{{ i['time'] }}</small></p>
                                </div> <!-- end w-100-->
                            </a> <!-- end d-flex -->
                            <div id="{{ i['record_id'] }}" class="collapse show">
                                <div class="row g-0 align-items-center">
                                    <div class="col-lg-6">
                                        <div id="img_{{ i['record_id'] }}" class="mb-2 text-center">
                                            <img style="width: 100%; max-width: 400px;" class="card-img"
                                                 onerror="hide_img('{{ i['record_id'] }}');"
                                                 src="{{ url_for('api.get_record_image', record_id=i['record_id']) }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <p style="white-space:pre-wrap">{{ i['text'] }}</p>
                                    </div>


                                </div>
                            </div>
                        </div> <!-- end card-body -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="map-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-warning">
                    <h4 class="modal-title" id="primary-header-modalLabel">Настройка карты</h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-hidden="true"></button>
                </div>
                <div class="modal-body">

                    <form class="ps-3 pe-3" method="post">

                        <!-- Multiple Select -->
                        <select id="countries" name="countries"
                                class="mt-3 select2 form-control select2-multiple"
                                data-toggle="select2" multiple="multiple"
                                data-placeholder="Выбрать ...">

                        </select>

                        <div class="mt-3 text-center">
                            <button class="btn rounded-pill btn-warning" type="submit" name="btn_home" value="upd_map">Сохранить</button>
                        </div>

                    </form>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <script>
        const countries = {
            "AB": "Абхазия",
            "AU": "Австралия",
            "AT": "Австрия",
            "AZ": "Азербайджан",
            "AL": "Албания",
            "DZ": "Алжир",
            "AS": "Американское Самоа",
            "AI": "Ангилья",
            "AO": "Ангола",
            "AD": "Андорра",
            "AQ": "Антарктида",
            "AG": "Антигуа и Барбуда",
            "AR": "Аргентина",
            "AM": "Армения",
            "AW": "Аруба",
            "AF": "Афганистан",
            "BS": "Багамы",
            "BD": "Бангладеш",
            "BB": "Барбадос",
            "BH": "Бахрейн",
            "BY": "Беларусь",
            "BZ": "Белиз",
            "BE": "Бельгия",
            "BJ": "Бенин",
            "BM": "Бермуды",
            "BG": "Болгария",
            "BO": "Боливия, Многонациональное Государство",
            "BQ": "Бонайре, Саба и Синт-Эстатиус",
            "BA": "Босния и Герцеговина",
            "BW": "Ботсвана",
            "BR": "Бразилия",
            "IO": "Британская территория в Индийском океане",
            "BN": "Бруней-Даруссалам",
            "BF": "Буркина-Фасо",
            "BI": "Бурунди",
            "BT": "Бутан",
            "VU": "Вануату",
            "HU": "Венгрия",
            "VE": "Венесуэла Боливарианская Республика",
            "VG": "Виргинские острова, Британские",
            "VI": "Виргинские острова, США",
            "VN": "Вьетнам",
            "GA": "Габон",
            "HT": "Гаити",
            "GY": "Гайана",
            "GM": "Гамбия",
            "GH": "Гана",
            "GP": "Гваделупа",
            "GT": "Гватемала",
            "GN": "Гвинея",
            "GW": "Гвинея-Бисау",
            "DE": "Германия",
            "GG": "Гернси",
            "GI": "Гибралтар",
            "HN": "Гондурас",
            "HK": "Гонконг",
            "GD": "Гренада",
            "GL": "Гренландия",
            "GR": "Греция",
            "GE": "Грузия",
            "GU": "Гуам",
            "DK": "Дания",
            "JE": "Джерси",
            "DJ": "Джибути",
            "DM": "Доминика",
            "DO": "Доминиканская Республика",
            "EG": "Египет",
            "ZM": "Замбия",
            "EH": "Западная Сахара",
            "ZW": "Зимбабве",
            "IL": "Израиль",
            "IN": "Индия",
            "ID": "Индонезия",
            "JO": "Иордания",
            "IQ": "Ирак",
            "IR": "Иран, Исламская Республика",
            "IE": "Ирландия",
            "IS": "Исландия",
            "ES": "Испания",
            "IT": "Италия",
            "YE": "Йемен",
            "CV": "Кабо-Верде",
            "KZ": "Казахстан",
            "KH": "Камбоджа",
            "CM": "Камерун",
            "CA": "Канада",
            "QA": "Катар",
            "KE": "Кения",
            "CY": "Кипр",
            "KG": "Киргизия",
            "KI": "Кирибати",
            "CN": "Китай",
            "CC": "Кокосовые (Килинг) острова",
            "CO": "Колумбия",
            "KM": "Коморы",
            "CG": "Конго",
            "CD": "Конго, Демократическая Республика",
            "KP": "Корея, Народно-Демократическая Республика",
            "KR": "Корея, Республика",
            "CR": "Коста-Рика",
            "CI": "Кот д'Ивуар",
            "CU": "Куба",
            "KW": "Кувейт",
            "CW": "Кюрасао",
            "LA": "Лаос",
            "LV": "Латвия",
            "LS": "Лесото",
            "LB": "Ливан",
            "LY": "Ливийская Арабская Джамахирия",
            "LR": "Либерия",
            "LI": "Лихтенштейн",
            "LT": "Литва",
            "LU": "Люксембург",
            "MU": "Маврикий",
            "MR": "Мавритания",
            "MG": "Мадагаскар",
            "YT": "Майотта",
            "MO": "Макао",
            "MW": "Малави",
            "MY": "Малайзия",
            "ML": "Мали",
            "UM": "Малые Тихоокеанские отдаленные острова Соединенных Штатов",
            "MV": "Мальдивы",
            "MT": "Мальта",
            "MA": "Марокко",
            "MQ": "Мартиника",
            "MH": "Маршалловы острова",
            "MX": "Мексика",
            "FM": "Микронезия, Федеративные Штаты",
            "MZ": "Мозамбик",
            "MD": "Молдова, Республика",
            "MC": "Монако",
            "MN": "Монголия",
            "MS": "Монтсеррат",
            "MM": "Мьянма",
            "NA": "Намибия",
            "NR": "Науру",
            "NP": "Непал",
            "NE": "Нигер",
            "NG": "Нигерия",
            "NL": "Нидерланды",
            "NI": "Никарагуа",
            "NU": "Ниуэ",
            "NZ": "Новая Зеландия",
            "NC": "Новая Каледония",
            "NO": "Норвегия",
            "AE": "Объединенные Арабские Эмираты",
            "OM": "Оман",
            "BV": "Остров Буве",
            "IM": "Остров Мэн",
            "NF": "Остров Норфолк",
            "CX": "Остров Рождества",
            "HM": "Остров Херд и острова Макдональд",
            "KY": "Острова Кайман",
            "CK": "Острова Кука",
            "TC": "Острова Теркс и Кайкос",
            "PK": "Пакистан",
            "PW": "Палау",
            "PS": "Палестинская территория, оккупированная",
            "PA": "Панама",
            "VA": "Папский Престол (Государство — город Ватикан)",
            "PG": "Папуа-Новая Гвинея",
            "PY": "Парагвай",
            "PE": "Перу",
            "PN": "Питкерн",
            "PL": "Польша",
            "PT": "Португалия",
            "PR": "Пуэрто-Рико",
            "MK": "Республика Македония",
            "RE": "Реюньон",
            "RU": "Россия",
            "RW": "Руанда",
            "RO": "Румыния",
            "WS": "Самоа",
            "SM": "Сан-Марино",
            "ST": "Сан-Томе и Принсипи",
            "SA": "Саудовская Аравия",
            "SH": "Святая Елена, Остров вознесения, Тристан-да-Кунья",
            "MP": "Северные Марианские острова",
            "BL": "Сен-Бартельми",
            "MF": "Сен-Мартен",
            "SN": "Сенегал",
            "VC": "Сент-Винсент и Гренадины",
            "KN": "Сент-Китс и Невис",
            "LC": "Сент-Люсия",
            "PM": "Сент-Пьер и Микелон",
            "RS": "Сербия",
            "SC": "Сейшелы",
            "SG": "Сингапур",
            "SX": "Синт-Мартен",
            "SY": "Сирийская Арабская Республика",
            "SK": "Словакия",
            "SI": "Словения",
            "GB": "Соединенное Королевство",
            "US": "Соединенные Штаты",
            "SB": "Соломоновы острова",
            "SO": "Сомали",
            "SD": "Судан",
            "SR": "Суринам",
            "SL": "Сьерра-Леоне",
            "TJ": "Таджикистан",
            "TH": "Таиланд",
            "TW": "Тайвань (Китай)",
            "TZ": "Танзания, Объединенная Республика",
            "TL": "Тимор-Лесте",
            "TG": "Того",
            "TK": "Токелау",
            "TO": "Тонга",
            "TT": "Тринидад и Тобаго",
            "TV": "Тувалу",
            "TN": "Тунис",
            "TM": "Туркмения",
            "TR": "Турция",
            "UG": "Уганда",
            "UZ": "Узбекистан",
            "UA": "Украина",
            "WF": "Уоллис и Футуна",
            "UY": "Уругвай",
            "FO": "Фарерские острова",
            "FJ": "Фиджи",
            "PH": "Филиппины",
            "FI": "Финляндия",
            "FK": "Фолклендские острова (Мальвинские)",
            "FR": "Франция",
            "GF": "Французская Гвиана",
            "PF": "Французская Полинезия",
            "TF": "Французские Южные территории",
            "HR": "Хорватия",
            "CF": "Центрально-Африканская Республика",
            "TD": "Чад",
            "ME": "Черногория",
            "CZ": "Чешская Республика",
            "CL": "Чили",
            "CH": "Швейцария",
            "SE": "Швеция",
            "SJ": "Шпицберген и Ян Майен",
            "LK": "Шри-Ланка",
            "EC": "Эквадор",
            "GQ": "Экваториальная Гвинея",
            "AX": "Эландские острова",
            "SV": "Эль-Сальвадор",
            "ER": "Эритрея",
            "SZ": "Эсватини",
            "EE": "Эстония",
            "ET": "Эфиопия",
            "ZA": "Южная Африка",
            "GS": "Южная Джорджия и Южные Сандвичевы острова",
            "OS": "Южная Осетия",
            "SS": "Южный Судан",
            "JM": "Ямайка",
            "JP": "Япония"
        };

        $(document).ready(function () {
            $("#world-map").vectorMap({
                map: "world_mill_en",
                series: {
                    regions: [{
                        scale: {{map['colors'] | safe}},
                        attribute: 'fill',
                        values: {{map['values'] | safe}},
                    }]
                },
                normalizeFunction: "polynomial",
                hoverOpacity: .7,
                hoverColor: !1,
                regionStyle: {initial: {fill: "#bad8ed"}},
                backgroundColor: "transparent"
            })
            let sel = document.getElementById("countries");
            const codes = {{map['values'] | safe}};
            for (const [key, value] of Object.entries(countries)) {
                let opt = document.createElement("option");
                opt.setAttribute("value", key);
                if (key in codes) {
                    opt.selected = true;
                }
                opt.innerText = value;
                sel.appendChild(opt);
            }
        });

    </script>

{% endblock %}