{% extends 'admin-base.html' %}

{% block title %}
    Telegram
{% endblock %}

{% block css %}
    <!-- SimpleMDE css -->
    <link href="../../assets/vendor/simplemde/simplemde.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Telegram BOT</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-lg-4">
            <div class="card text-center">
                <div class="card-body">
                    <img src="../../assets/images/brands/telegram.png" class="rounded-circle avatar-lg img-thumbnail"
                         alt="profile-image">
                    {% if bot_status %}
                        <h4 class="page-title">Бот запущен
                            <div class="spinner-grow text-success" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </h4>
                    {% else %}
                        <h4 class="page-title">Бот остановлен
                            <div class="spinner-grow text-danger" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </h4>
                    {% endif %}
                    <p class="text-muted font-14"><a href="{{ system_variables['tg_bot'] }}" target="_blank">Перейти</a>
                    </p>

                    <form method="post">
                        {% if bot_status %}
                            <button type="submit" name="btn_telegram_bot" value="stop"
                                    class="btn btn-danger btn-sm mb-2">
                                Остановить
                            </button>
                        {% else %}
                            <button type="submit" name="btn_telegram_bot" value="run"
                                    class="btn btn-success btn-sm mb-2">
                                Запустить
                            </button>
                        {% endif %}
                    </form>
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col-->
        <div class="col-xl-9 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="card-body p-0">
                        <div class="row">
                            <!-- HTML -->
                            <textarea id="simplemde"></textarea>
                        </div>
                        <div class="row">
                            <button id="btn_send_message" type="button" onclick="send_message_tg();"
                                    class="btn btn-primary chat-send"><i
                                    class="uil uil-message">Отправить
                                рассылку</i></button>
                        </div>
                        <!-- end row -->
                    </div>
                </div> <!-- end card body -->
            </div> <!-- end card -->
        </div>
    </div>

    <script>
        let simplemde;

        $(document).ready(function () {
            simplemde = new SimpleMDE({
                element: $(".simplemde")[0],
                forceSync: true,
                spellChecker: false,
                toolbar: [{
                    name: "bold",
                    action: SimpleMDE.toggleBold,
                    className: "fa fa-bold",
                    title: "Bold"
                },
                    {
                        name: "italic",
                        action: SimpleMDE.toggleItalic,
                        className: "fa fa-italic",
                        title: "Italic"
                    },
                    {
                        name: "strike",
                        action: SimpleMDE.toggleStrikethrough,
                        className: "fa fa-strikethrough",
                        title: "Strike"
                    },
                    {
                        name: "code",
                        action: SimpleMDE.toggleCodeBlock,
                        className: "fa fa-code",
                        title: "Code"
                    },
                    {
                        name: "preview",
                        action: SimpleMDE.togglePreview,
                        className: "fa fa-eye no-disable",
                        title: "Preview"
                    }
                ]
            });
        });

        function send_message_tg() {
            const text = simplemde.value();
            console.log(text);
            if (text.length < 8) {
                $.NotificationApp.send("Рассылка", "Слишком короткое сообщение!", "top-right", "#FF5B5B", "warning");
                return;
            }
            if (text.length > 4096) {
                $.NotificationApp.send("Рассылка", "Слишком длинное сообщение!", "top-right", "#FF5B5B", "warning");
                return;
            }
            document.getElementById("btn_send_message").disabled = true;
            try {
                $.ajax({
                        type: 'POST',
                        url: '{{ url_for('admin.admin_telegram')}}',
                        data: {
                            'btn_telegram_bot': 'send_message',
                            'text': text
                        },
                        success: function (result) {
                            const res = JSON.parse(result);
                            if (res.success === true) {
                                console.log('done');
                            } else {
                                $.NotificationApp.send("TG BOT", "Не удалось сделать рассылку.", "top-right", "#FF5B5B", "error");
                            }
                            document.getElementById("btn_send_message").disabled = false;
                        }
                    }
                );
            } catch
                (err) {
                console.log(err);
            }
        }

    </script>

{% endblock %}

{% block js %}
    <!-- SimpleMDE js -->
    <script src="../../assets/vendor/simplemde/simplemde.min.js"></script>
{% endblock %}