<!DOCTYPE html>
<html lang="en" data-layout-mode="detached" data-topbar-color="dark" data-sidenav-color="light"
      data-sidenav-user="true">

<head>
    <meta charset="utf-8"/>
    <title>5 letters | Jewell Dashboard</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>

    <!-- App favicon -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico">

    <!-- Theme Config Js -->
    <script src="../../assets/js/hyper-config.js"></script>

    <!-- Toast css -->
    <link href="../../assets/vendor/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" type="text/css"/>

    <!-- Icons css -->
    <link href="../../assets/css/icons.min.css" rel="stylesheet" type="text/css"/>

    <!-- App css -->
    <link href="../../assets/css/app-modern.min.css" rel="stylesheet" type="text/css" id="app-style"/>

    <link href="../../assets/games/5letters/5letters.min.css" rel="stylesheet">

    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
</head>

<body class="authentication-bg">
{{ toastr.include_toastr_js() }}

<div class="account-pages">
    <div class="container">
        <header class="d-flex justify-content-center py-3 mb-xxl-5">
            <ul class="nav nav-pills">
                <li class="nav-item me-2"><a href="{{ url_for('view.login') }}" class="nav-link bg-info-lighten"><i
                        class="mdi mdi-step-backward"></i></a></li>
                <li class="nav-item me-2"><a onclick="location.reload();" class="nav-link bg-info-lighten"><i
                        class="mdi mdi-reload"></i></a></li>
                <li class="nav-item"><a class="nav-link">{{ current_user.points }}</a></li>
                <li class="nav-item ms-2"><a onclick="show_rating();" class="nav-link bg-primary-lighten"><i
                        class="mdi mdi-format-list-numbered"></i></a></li>
                <li class="nav-item ms-2"><a onclick="show_rules();" class="nav-link bg-info-lighten"><i
                        class="uil uil-question-circle"></i></a></li>
            </ul>
        </header>
        <div class="App-container">
            <div class="Game" style="display: block;">
                <div id="game-wrapper" style="">
                    <div id="game_field" class="game_rows">
                        <div class="Row">
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                        </div>
                        <div class="Row">
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                        </div>
                        <div class="Row">
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                        </div>
                        <div class="Row">
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                        </div>
                        <div class="Row">
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                        </div>
                        <div class="Row">
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                            <div class="Row-letter" data-animation="none"></div>
                        </div>
                    </div>
                    <div class="Game-keyboard">
                        <div class="Game-keyboard-row">
                            <div tabindex="-1" class="Game-keyboard-button">й</div>
                            <div tabindex="-1" class="Game-keyboard-button">ц</div>
                            <div tabindex="-1" class="Game-keyboard-button">у</div>
                            <div tabindex="-1" class="Game-keyboard-button">к</div>
                            <div tabindex="-1" class="Game-keyboard-button">е</div>
                            <div tabindex="-1" class="Game-keyboard-button">н</div>
                            <div tabindex="-1" class="Game-keyboard-button">г</div>
                            <div tabindex="-1" class="Game-keyboard-button">ш</div>
                            <div tabindex="-1" class="Game-keyboard-button">щ</div>
                            <div tabindex="-1" class="Game-keyboard-button">з</div>
                            <div tabindex="-1" class="Game-keyboard-button">х</div>
                            <div tabindex="-1" class="Game-keyboard-button">ъ</div>
                        </div>
                        <div class="Game-keyboard-row">
                            <div tabindex="-1" class="Game-keyboard-button">ф</div>
                            <div tabindex="-1" class="Game-keyboard-button">ы</div>
                            <div tabindex="-1" class="Game-keyboard-button">в</div>
                            <div tabindex="-1" class="Game-keyboard-button">а</div>
                            <div tabindex="-1" class="Game-keyboard-button">п</div>
                            <div tabindex="-1" class="Game-keyboard-button">р</div>
                            <div tabindex="-1" class="Game-keyboard-button">о</div>
                            <div tabindex="-1" class="Game-keyboard-button">л</div>
                            <div tabindex="-1" class="Game-keyboard-button">д</div>
                            <div tabindex="-1" class="Game-keyboard-button">ж</div>
                            <div tabindex="-1" class="Game-keyboard-button">э</div>
                        </div>
                        <div class="Game-keyboard-row">
                            <div tabindex="-1" class="Game-keyboard-button Game-keyboard-button-wide">
                                Ввод
                            </div>
                            <div tabindex="-1" class="Game-keyboard-button">я</div>
                            <div tabindex="-1" class="Game-keyboard-button">ч</div>
                            <div tabindex="-1" class="Game-keyboard-button">с</div>
                            <div tabindex="-1" class="Game-keyboard-button">м</div>
                            <div tabindex="-1" class="Game-keyboard-button">и</div>
                            <div tabindex="-1" class="Game-keyboard-button">т</div>
                            <div tabindex="-1" class="Game-keyboard-button">ь</div>
                            <div tabindex="-1" class="Game-keyboard-button">б</div>
                            <div tabindex="-1" class="Game-keyboard-button">ю</div>
                            <div tabindex="-1" class="Game-keyboard-button Game-keyboard-button-wide">
                                <i class="ri-delete-back-2-fill font-20"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let letterGame;

    $(document).ready(function () {
        letterGame = new LettersGame("{{ current_user.id }}", "{{ encrypted_word }}");
        let keys = document.getElementsByClassName("Game-keyboard-button");
        for (let key of keys) {
            key.onclick = keyboard_click;
        }
    });

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function check_result(res, word) {
        letterGame.check_result(res, word);
    }

    function keyboard_click(e) {
        let key = e.srcElement.innerText;
        letterGame.keyboard_click(key);
    }

    function show_rules() {
        Swal.fire({
            title: 'Правила',
            icon: 'question',
            html: `<div style="overflow:  hidden;">
                        <div class="row">
                            <div class="Row">
                                <div class="Row-letter bg-secondary" data-animation="none">Б</div>
                                <div class="Row-letter bg-secondary" data-animation="none">У</div>
                                <div class="Row-letter bg-warning" data-animation="none">К</div>
                                <div class="Row-letter bg-secondary" data-animation="none">В</div>
                                <div class="Row-letter bg-success" data-animation="none">А</div>
                            </div>
                       </div>
                      <div class="row mt-3">
                        <div class="text text-tiles">
                            <b class="grey_text">Б</b> , <b class="grey_text">У</b> , <b class="grey_text">В</b> точно нет в загаданном слове.<br><br>
                            <b class="yellow_text pb-2">К</b> есть в слове, но не в том месте<br><br>
                            <b class="green_text">А</b> есть в слове, и в точном месте<br>
                        </div>
                      </div>
                    </div>`,
            showCloseButton: true,
            focusConfirm: false,
            confirmButtonText: 'ОК',
        })
    }

    function show_rating(top_limit = 10) {
        $.ajax({
            type: 'POST',
            url: '/games/rating',
            data: {"user_id": "{{current_user.id}}", "top_limit": top_limit},
            success: function (result) {
                const res = JSON.parse(result);
                let rating_rows = '';
                for (let i of res.top) {
                    rating_rows += `<tr>
                                    <td>${i.number}</td>
                                    <td>${i.link}</td>
                                    <td>${i.points}</td>
                                </tr>`;
                }
                Swal.fire({
                    title: 'Рейтинг',
                    icon: 'info',
                    html: `<div style="overflow:  hidden;">
                            <table class="table table-sm table-centered mb-0">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Игрок</th>
                                        <th>Очки</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   ${rating_rows}
                                </tbody>
                            </table>
                          </div>`,
                    showCloseButton: true,
                    focusConfirm: false,
                    confirmButtonText: 'ОК',
                })
            }
        });
    }

</script>

<footer class="footer footer-alt">
    © 2022 -
    <script>document.write(new Date().getFullYear())</script>
    Jewell Club. Designed and coded by
    <a href="https://vk.com/rhekszksskebekewllw">
        Alex Shalaev
    </a>
</footer>

<!-- Sweet Alert 2 -->
<script src="../../assets/vendor/sweetalert/sweetalert2.all.min.js"></script>

<!-- Vendor js -->
<script src="../../assets/js/vendor.min.js"></script>

<!-- 5Letters Game js -->
<script src="../../assets/games/5letters/5letters.js"></script>

<!-- Toastr Demo js -->
<script src="../../assets/vendor/jquery-toast-plugin/jquery.toast.min.js"></script>
<script src="../../assets/js/pages/demo.toastr.js"></script>

<!-- App js -->
<script src="../../assets/js/app.min.js"></script>

</body>
</html>
