<!DOCTYPE html>
<html lang="en" data-layout-mode="detached" data-topbar-color="dark" data-sidenav-color="light"
      data-sidenav-user="true">

<head>
    <meta charset="utf-8"/>
    <title>Recover Password | Jewell Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>

    <!-- App favicon -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico">

    <!-- Theme Config Js -->
    <script src="../../assets/js/hyper-config.js"></script>

    <!-- Icons css -->
    <link href="../../assets/css/icons.min.css" rel="stylesheet" type="text/css"/>

    <!-- App css -->
    <link href="../../assets/css/app-modern.min.css" rel="stylesheet" type="text/css" id="app-style"/>
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
</head>

<body class="authentication-bg">
{{ toastr.include_toastr_js() }}
<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-5">
                <div class="card">
                    <!-- Logo -->
                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                        <a class="logo-dark" href="{{url_for('view.landing')}}">
                            <span><img src="../../assets/images/logo-dark.png" alt="logo"></span>
                        </a>
                    </div>

                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center mt-0 fw-bold">Восстановление пароля</h4>
                            <p class="text-muted mb-4">Введите номер телефона, чтобы отправить запрос на восстановление
                                доступа к аккаунту.</p>
                        </div>

                        <form action="{{ url_for('view.recoverpw', version=1)}}" method="post">
                            <div class="mb-3">
                                <label for="phonenumber" class="form-label">Номер телефона</label>
                                <input class="form-control" type="tel" id="phonenumber" name="phonenumber" required=""
                                       data-tel-input
                                       placeholder="Введите номер">
                            </div>
                            <div class="mb-0 text-center">
                                <button class="btn btn-primary" type="submit">Отправить</button>
                            </div>
                        </form>
                    </div> <!-- end card-body-->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">Вернуться к<a href="{{url_for('view.login')}}" class="text-muted ms-1"><b>Входу</b></a>
                        </p>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->

<footer class="footer footer-alt">
    © 2022 -
    <script>document.write(new Date().getFullYear())</script>
    Jewell Club. Designed and coded by
    <a href="https://vk.com/rhekszksskebekewllw">
        Alex Shalaev
    </a>
</footer>
<!-- Vendor js -->
<script src="../../assets/js/vendor.min.js"></script>

<!-- App js -->
<script src="../../assets/js/app.min.js"></script>

<script src="../../assets/js/phoneinput.js"></script>

</body>
</html>
