<!DOCTYPE html>
<html lang="en" data-layout-mode="detached" data-topbar-color="dark" data-sidenav-color="light"
      data-sidenav-user="true">

<head>
    <meta charset="utf-8"/>
    <title>Log In | Jewell Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>

    <!-- App favicon -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico">

    <!-- Theme Config Js -->
    <script src="../../assets/js/hyper-config.js"></script>

    <!-- Icons css -->
    <link href="../../assets/css/icons.min.css" rel="stylesheet" type="text/css"/>

    <!-- App css -->
    <link href="../../assets/css/app-modern.min.css" rel="stylesheet" type="text/css" id="app-style"/>
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
</head>

<body class="authentication-bg">
{{ toastr.include_toastr_js() }}
<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-5">
                <div class="card">

                    <!-- Logo -->
                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                        <a class="logo-dark" href="{{ url_for('view.landing') }}">
                            <span><img src="../../assets/images/logo-dark.png" alt="logo"></span>
                        </a>
                    </div>

                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center pb-0 fw-bold">Авторизация</h4>
                            <p class="text-muted mb-4">Введите ваш телефон и пароль для входа в аккаунт.</p>
                        </div>

                        <form class="mb-3" action="{{ url_for('view.login') }}" method="post">

                            <div class="mb-3">
                                <label for="phonenumber" class="form-label">Номер телефона</label>
                                <input class="form-control" type="tel" id="phonenumber" name="phonenumber" required=""
                                       data-tel-input
                                       placeholder="Введите номер">
                            </div>

                            <div class="mb-3">
                                <a href="{{ url_for('view.recoverpw', version=1) }}"
                                   class="text-muted float-end"><small>Забыли
                                    пароль?</small></a>
                                <label for="password" class="form-label">Пароль</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password" name="password" class="form-control"
                                           required="" minlength="4"
                                           placeholder="Введите пароль">
                                    <div class="input-group-text" data-password="false">
                                        <span class="password-eye"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-primary" type="submit">Войти</button>
                            </div>

                        </form>

                        <div class="row">
                            <div class="col-12 text-center">
                                <p class="text-muted">Нет аккаунта? <a href="{{ url_for('view.register', version=1) }}"
                                                                       class="text-muted ms-1"><b>Зарегистрироваться</b></a>
                                </p>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->

<footer class="footer footer-alt">
    © 2022 -
    <script>document.write(new Date().getFullYear())</script>
    Jewell Club. Designed and coded by
    <a href="https://vk.com/rhekszksskebekewllw">
        Alex Shalaev
    </a>
</footer>
<!-- Vendor js -->
<script src="../../assets/js/vendor.min.js"></script>

<!-- App js -->
<script src="../../assets/js/app.min.js"></script>

<script src="../../assets/js/phoneinput.js"></script>

</body>
</html>
