<!DOCTYPE html>
<html lang="en" data-layout-mode="detached" data-topbar-color="dark" data-sidenav-color="light"
      data-sidenav-user="true">

<head>
    <meta charset="utf-8"/>
    <title>Log In | Jewell Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>

    <!-- App favicon -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico">

    <!-- Theme Config Js -->
    <script src="../../assets/js/hyper-config.js"></script>

    <!-- Icons css -->
    <link href="../../assets/css/icons.min.css" rel="stylesheet" type="text/css"/>

    <!-- App css -->
    <link href="../../assets/css/app-modern.min.css" rel="stylesheet" type="text/css" id="app-style"/>
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
</head>

<body class="authentication-bg pb-0">
{{ toastr.include_toastr_js() }}
<div class="auth-fluid">
    <!--Auth fluid left content -->
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">

                <!-- Logo -->
                <div class="auth-brand text-center text-lg-start">
                    <a class="logo-dark" href="{{url_for('view.landing')}}">
                        <span><img src="../../assets/images/logo-dark.png" alt="logo"></span>
                    </a>
                </div>

                <!-- title-->
                <h4 class="mt-0">Авторизация</h4>
                <p class="text-muted mb-4">Введите ваш телефон и пароль для входа в аккаунт.</p>

                <!-- form -->
                <form action="{{ url_for('view.login')}}" method="post">
                    <div class="mb-3">
                        <label for="phonenumber" class="form-label">Номер телефона</label>
                        <input class="form-control" type="tel" id="phonenumber" name="phonenumber" required=""
                               data-tel-input
                               placeholder="Введите номер">
                    </div>
                    <div class="mb-3">
                        <a href="{{url_for('view.recoverpw', version=2)}}" class="text-muted float-end"><small>Забыли
                            пароль?</small></a>
                        <label for="password" class="form-label">Пароль</label>
                        <input class="form-control" type="password" required="" minlength="4" id="password" name="password"
                               placeholder="Введите пароль">
                    </div>

                    <div class="d-grid mb-0 text-center">
                        <button class="btn btn-primary" type="submit"><i class="mdi mdi-login"></i> Войти</button>
                    </div>

                </form>
                <!-- end form-->

                <!-- Footer-->
                <footer class="mt-3">
                    <p class="text-muted">Нет аккаунта? <a href="{{url_for('view.register', version=2)}}"
                                                           class="text-muted ms-1"><b>Зарегистрироваться</b></a></p>
                </footer>

            </div> <!-- end .card-body -->
        </div> <!-- end .align-items-center.d-flex.h-100-->
    </div>
    <!-- end auth-fluid-form-box-->

    <!-- Auth fluid right content -->
    <div class="auth-fluid-right text-center" style="background-image: url('../../assets/images/auth/login4.jpg');">
        <div class="auth-user-testimonial">
            <h2 class="mb-3">Shalom!</h2>
        </div> <!-- end auth-user-testimonial-->
    </div>
    <!-- end Auth fluid right content -->
</div>
<!-- end auth-fluid-->
<!-- Vendor js -->
<script src="../../assets/js/vendor.min.js"></script>

<!-- App js -->
<script src="../../assets/js/app.min.js"></script>

<script src="../../assets/js/phoneinput.js"></script>

</body>

</html>