{% extends 'admin-base.html' %}

{% block title %}
    Overview
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{{ url_for('admin.admin_home') }}">Администратор</a></li>
                        <li class="breadcrumb-item">Формы</li>
                        <li class="breadcrumb-item active">Обзор</li>
                    </ol>
                </div>
                <h4 class="page-title">Обзор и анализ форм</h4>
            </div>
        </div>
    </div>

    <div class="card row mt-3">
        <table class="table table-centered mb-0 font-16">
            <thead class="table-dark">
            <tr>
                <th>Название</th>
                <th>Статус</th>
                <th>Дата создания</th>
                <th>Кол-во ответов</th>
            </tr>
            </thead>
            <tbody>
            {% for i in forms %}
                <tr>
                    <td><a href="{{ url_for('admin.forms_analyze', form_id=i.id) }}">{{ i.name }}</a></td>
                    <td>
                        {% if i.status.value == 'opened'  %}
                        <i class="mdi mdi-lock-open-check font-24" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Открыта"></i>
                        {% elif i.status.value == 'closed' %}
                            <i class="mdi mdi-lock font-24" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Закрыта"></i>
                        {% else %}
                            <i class="mdi mdi-lock-question font-24" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Неизвестный тип"></i>
                        {% endif %}
                    </td>
                    <td>{{ i.datetime }}</td>
                    <td>{{ i.answers }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}