{% extends 'teacher-base.html' %}

{% block title %}
    Attendance Markers
{% endblock %}

{% block css %}

{% endblock %}

{% block body %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{{ url_for('teacher.teacher_home') }}">Преподаватель</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{{ url_for('teacher.teacher_attendance') }}">Посещаемость</a></li>
                        <li class="breadcrumb-item active"><a href="{{ url_for('teacher.teacher_attendance_markers') }}">Временная</a></li>
                    </ol>
                </div>
                <h4 class="page-title" id="page-header">Посещаемость по ссылке</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">

        <div class="col-md-6 col-xxl-3">
            <form method="post">
                <div class="card d-block">
                    <div class="card-body">

                        <h5>Название:</h5>

                        <input placeholder="Название" type="text" required minlength="3" name="name"
                               class="form-control me-3">

                        <h5>Начало и конец</h5>

                        <input id="daterangepicker" type="text" class="form-control date" required name="date_range">

                        <button type="submit" name="btn_markers" value="add_marker"
                                class="btn btn-warning mt-2"><i
                                class="mdi mdi-rocket me-1"></i> <span>Добавить</span></button>


                    </div> <!-- end card-body-->

                </div>
            </form>
        </div>
        <!-- end row-->

        {% for marker in attendance_markers %}

            <div class="col-md-6 col-xxl-3">

                <div class="card d-block">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h3 class="">{{ marker.name }}</h3>
                             <div class="dropdown">
                                  <a class="dropdown-item" href="{{ url_for('teacher.teacher_attendance_marker', marker_id=marker.id) }}"><i class="mdi mdi-more me-1"></i>Подробнее</a>
                            </div>
                        </div>

                        <div class="row">
                            <h5>Кол-во участников</h5>
                            <p>{{ marker.students | length }}</p>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <h5>Начало</h5>
                                    <p>{{ marker.start }}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <h5>Конец</h5>
                                    <p>{{ marker.finish }}</p>
                                </div>
                            </div>
                        </div>

                    </div> <!-- end card-body-->

                </div>

            </div>
            <!-- end row-->

        {% endfor %}

    </div>

    <!-- Daterangepicker js -->
    <script src="../../../assets/vendor/daterangepicker/moment.min.js"></script>
    <script src="../../../assets/vendor/daterangepicker/daterangepicker.js"></script>

    <script>
        $('#daterangepicker').daterangepicker({
            timePicker: true,
            timePicker24Hour: true,
            startDate: moment().startOf('minute'),
            endDate: moment().startOf('minute').add(5, 'minute'),
            locale: {
                format: 'DD.MM.YYYY HH:mm:ss'
            }
        });
    </script>

{% endblock %}