{% extends 'teacher-base.html' %}

{% block title %}
    Schedule
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="../../../assets/schedule/css/style.css">
{% endblock %}

{% block body %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{{ url_for('teacher.teacher_home') }}">Преподаватель</a>
                        </li>
                        <li class="breadcrumb-item active">Расписание</li>
                    </ol>
                </div>
                <h4 class="page-title">Расписание<a class="ms-3" href="{{ system_variables['courses_yahad'] }}"
                                                    target="_blank">Подробнее</a></h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                    <tr class="bg-light-gray">
                        <th class="text-uppercase">Время</th>
                        <th class="text-uppercase">Воскресенье</th>
                        <th class="text-uppercase">Понедельник</th>
                        <th class="text-uppercase">Вторник</th>
                        <th class="text-uppercase">Среда</th>
                        <th class="text-uppercase">Четверг</th>
                        <th class="text-uppercase">Пятница</th>
                        <th class="text-uppercase">Суббота</th>
                    </tr>
                    </thead>
                    <tbody id="timetable">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end row-->

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Ваши курсы</h4>
            </div>
        </div>
    </div>

    <div class="row">
        {% for course in courses %}
            <div class="col-md-4">
                <div id="course_{{ course.id }}" class="card" style="border: 2px solid black">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
        {% endfor %}
    </div>
    <!-- end row-->

    <script>
        let courses;
        set_schedule();

        function set_schedule() {
            try {
                const link = "{{url_for('api.get_schedule')}}";
                $.ajax({
                    type: 'POST',
                    url: link,
                    success: function (result) {
                        const res = JSON.parse(result);
                        if (res.success) {
                            let table = document.getElementById("timetable");
                            let times = res.times;
                            courses = res.courses;
                            let colors = res.colors;
                            for (let i = 0; i < times.length; ++i) {
                                let row = document.createElement("tr");
                                let time = document.createElement("td");
                                time.setAttribute('class', 'align-middle');
                                time.innerText = `${('0' + times[i]['hours']).slice(-2)}:${('0' + times[i]['minutes']).slice(-2)}`;
                                row.appendChild(time);
                                for (let day = 0; day < 7; ++day) {
                                    let cell = document.createElement("td");
                                    cell.setAttribute('id', `${get_day_of_week(day)}-${times[i]['hours']}-${times[i]['minutes']}`);
                                    row.appendChild(cell);
                                }
                                table.appendChild(row);
                            }
                            for (let i = 0; i < courses.length; ++i) {
                                //setting colors for teacher's courses
                                let course = document.getElementById("course_" + courses[i].id);
                                if (course) {
                                    course.style.borderColor = colors[courses[i].name];
                                }
                                let tt = courses[i]['timetable'];
                                for (const [key, value] of Object.entries(tt)) {
                                    let cell_id = `${key}-${value.hours}-${value.minutes}`;
                                    let cell = document.getElementById(cell_id);
                                    let span = document.createElement("span");
                                    span.setAttribute('class', 'padding-5px-tb padding-15px-lr border-radius-5 me-3 text-white font-size16 xs-font-size13');
                                    span.setAttribute('style', 'background-color: ' + colors[courses[i].name]);
                                    span.setAttribute('data-index', i.toString());
                                    span.setAttribute('onclick', "show_info_about_course(" + i + ")");
                                    span.innerText = courses[i].name;
                                    cell.appendChild(span);

                                    if (course) {
                                        //setting timetable for teacher's courses
                                        let p = document.createElement("p");
                                        p.setAttribute('class', 'card-text');
                                        p.innerText = `${to_rus(key)} ${('0' + value.hours).slice(-2)}:${('0' + value.minutes).slice(-2)}`;
                                        course.children[0].appendChild(p);
                                    }
                                }
                            }
                        } else {
                            $.NotificationApp.send("Расписание", "Не удалось загрузить расписание", "top-right", "#FF5B5B", "error");
                        }
                    }
                });
            } catch (err) {
                console.log(err);
            }
        }

        function show_info_about_course(index) {
            const course = courses[index];
            let course_html = '<b>Учителя: </b>';
            for (let i = 0; i < course.teachers.length - 1; ++i) {
                course_html += course.teachers[i] + ', ';
            }
            course_html += course.teachers[course.teachers.length - 1];
            course_html += '<br><br>';
            for (const [key, value] of Object.entries(course.timetable)) {
                course_html += `${to_rus(key)} ${('0' + value.hours).slice(-2)}:${('0' + value.minutes).slice(-2)} <br>`;
            }
            Swal.fire({
                title: '<strong>' + course.name + '</strong>',
                icon: 'info',
                html: course_html,
                showCloseButton: true
            })
        }

        function get_day_of_week(day) {
            switch (day) {
                case 0:
                    return "sunday";
                case 1:
                    return "monday";
                case 2:
                    return "tuesday";
                case 3:
                    return "wednesday";
                case 4:
                    return "thursday";
                case 5:
                    return "friday";
                case 6:
                    return "saturday";
            }

        }

        function to_rus(day) {
            switch (day) {
                case "sunday":
                    return "Воскресенье";
                case "monday":
                    return "Понедельник";
                case "tuesday":
                    return "Вторник";
                case "wednesday":
                    return "Среда";
                case "thursday":
                    return "Четверг";
                case "friday":
                    return "Пятница";
                case "saturday":
                    return "Суббота";
            }

        }
    </script>

{% endblock %}