{% extends 'admin-base.html' %}

{% block title %}
    Products
{% endblock %}

{% block css %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{{ url_for('admin.admin_home') }}">Администратор</a></li>
                        <li class="breadcrumb-item active">Товары и заказы</li>
                    </ol>
                </div>
                <h4 class="page-title">Товары и заказы</h4>
            </div>
        </div>
    </div>

    <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
        <li class="nav-item">
            <a href="#orders" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0 active">
                <i class="mdi mdi-home-variant d-md-none d-block"></i>
                <span class="d-none d-md-block">Заказы</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#products" data-bs-toggle="tab" aria-expanded="true" class="nav-link rounded-0">
                <i class="mdi mdi-account-circle d-md-none d-block"></i>
                <span class="d-none d-md-block">Товары</span>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane show active" id="orders">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap mb-0">
                            <thead class="table-light">
                            <tr>
                                <th>ID заказа</th>
                                <th>Товар</th>
                                <th>Заказчик</th>
                                <th>Дата</th>
                                <th>Статус</th>
                                <th style="width: 125px;">Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td class="text-body fw-bold">
                                        {{ order.id }}
                                    </td>
                                    <td>
                                        {{ order.product.name }}
                                    </td>
                                    <td>
                                        <a href="TODO{{ order.client.id }}"
                                           class="text-body fw-bold">{{ order.client.name }}</a>
                                    </td>
                                    <td>
                                        {{ order.timestamp }}
                                    </td>
                                    <td>
                                        <h5>
                                            {% if order.status.value == 'placed' %}
                                                <span class="badge bg-danger">Создан</span>
                                            {% elif order.status.value == 'packed' %}
                                                <span class="badge bg-warning">Упакован</span>
                                            {% elif order.status.value == 'shipped' %}
                                                <span class="badge bg-primary">Отправлен</span>
                                            {% elif order.status.value == 'delivered' %}
                                                <span class="badge bg-success">Доставлен</span>
                                            {% endif %}
                                        </h5>
                                    </td>
                                    <td>
                                        <a onclick="set_order_data('{{ order.address }}', '{{ order.country }}', '{{ order.city }}', '{{ order.zip_postal }}', '{{ order.comments }}');"
                                           data-bs-toggle="modal" data-bs-target="#addressModal" class="action-icon"> <i
                                                class="mdi mdi-eye"></i></a>
                                        <a onclick="set_order_status('{{ order.id }}', '{{ order.status.value }}')"
                                           data-bs-toggle="modal"
                                           data-bs-target="#statusModal" class="action-icon"> <i
                                                class="mdi mdi-square-edit-outline"></i></a>
                                        <form method="post" class="action-icon">
                                            <input type="hidden" name="order_id" value="{{ order.id }}">
                                            <button onclick="return confirm('Вы точно хотите удалить заказ?')"
                                                    type="submit"
                                                    name="btn_products" value="delete_order"
                                                    class="dropdown-item"><i class="mdi mdi-delete me-1"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div> <!-- end card-body-->
            </div>
        </div>
        <div class="tab-pane" id="products">
            <div class="row">
                <p>
                    <a class="btn btn-danger rounded-pill mb-3" type="button"
                       data-bs-toggle="collapse"
                       data-bs-target="#collapseWidthExample"
                       aria-expanded="false" aria-controls="collapseWidthExample"><i class="mdi mdi-plus"></i>Добавить
                        товар</a>
                </p>
                <div class="collapse collapse-horizontal" id="collapseWidthExample">
                    <div class="card card-body mb-0" style="width: 600px;">
                        <form class="form-horizontal" method="post" enctype="multipart/form-data">
                            <div class="row mb-3">
                                <label for="name" class="col-3 col-form-label">Название</label>
                                <div class="col-9">
                                    <input required minlength="5" type="text" id="name" name="name"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="description" class="col-3 col-form-label">Описание</label>
                                <div class="col-9">
                                    <input type="text" id="description" name="description" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="price" class="col-3 col-form-label">Цена</label>
                                <div class="col-9">
                                    <input required minlength="1" type="text" id="price" name="price"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-3 col-form-label">Фотография</label>
                                <div class="col-9">
                                    <input class="form-control" type="file" name="image"
                                           accept="image/jpeg,image/png">
                                </div>
                            </div>
                            <div class="justify-content-end row">
                                <div class="col-9">
                                    <button type="submit" name="btn_products" value="add_product"
                                            class="btn btn-sm btn-info"><i
                                            class="uil uil-message me-1"></i>Добавить
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                {% for i in products %}
                    <div class="card mt-2">
                        <div class="card-body pb-1">
                            <div class="card-widgets">
                                <a data-bs-toggle="collapse" href="#{{ i.id }}" role="button"
                                   aria-expanded="false" aria-controls="{{ i.id }}"><i
                                        class="mdi mdi-minus"></i></a>
                                <a href="#" data-bs-toggle="remove"><i class="mdi mdi-close"></i></a>
                            </div>
                            <a class="d-flex" data-bs-toggle="collapse" href="#{{ i.id }}" role="button"
                               aria-expanded="false" aria-controls="{{ i.id }}">
                                <div class="w-100">
                                    <p class="text-muted"><small>{{ i.name }}</small></p>
                                </div> <!-- end w-100-->
                            </a> <!-- end d-flex -->
                            <div id="{{ i.id }}" class="collapse">
                                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="product_id" value="{{ i.product_id }}">
                                    <div class="row mb-3">
                                        <label for="name" class="col-3 col-form-label">Название</label>
                                        <div class="col-9">
                                            <input required minlength="5" type="text" id="name" name="name"
                                                   class="form-control" value="{{ i.name }}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="description" class="col-3 col-form-label">Описание</label>
                                        <div class="col-9">
                                            <input type="text" id="description" name="description" class="form-control"
                                                   value="{{ i.info }}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="price" class="col-3 col-form-label">Цена</label>
                                        <div class="col-9">
                                            <input required minlength="1" type="text" id="price" name="price"
                                                   class="form-control" value="{{ i.price }}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-3 col-form-label">Фотография</label>
                                        <div class="col-9">
                                            <div id="img_{{ i.product_id }}">
                                                <img class="card-img mb-2" onerror="hide_img('{{ i.product_id }}');"
                                                     src="{{ url_for('api.get_product_image', product_id=i.id) }}">
                                            </div>
                                            <input class="form-control" type="file" name="image"
                                                   accept="image/jpeg,image/png">
                                        </div>
                                    </div>
                                    <div class="justify-content-end row">
                                        <div class="col-9">
                                            <button type="submit" name="btn_products" value="edit_product"
                                                    class="btn btn-primary rounded-pill mb-3 me-3">Сохранить
                                            </button>
                                            <button type="submit" name="btn_products" value="delete_product"
                                                    class="btn btn-danger rounded-pill mb-3 me-3">Удалить
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> <!-- end card-body -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Информация о заказе</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="address" class="form-label">Адрес</label>
                                <input disabled class="form-control" type="text" id="address">
                            </div>
                        </div>
                    </div> <!-- end row -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="country" class="form-label">Страна</label>
                                <input class="form-control" type="text" disabled id="country">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="city" class="form-label">Город</label>
                                <input class="form-control" type="text" disabled id="city">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="zip_postal" class="form-label">Индекс</label>
                                <input class="form-control" type="text" disabled id="zip_postal">
                            </div>
                        </div>
                    </div> <!-- end row -->

                    <div class="row">
                        <div class="col-12">

                            <div class="mb-3 mt-3">
                                <label for="comments" class="form-label">Комментарии к
                                    заказу:</label>
                                <textarea maxlength="512" class="form-control" id="comments" rows="3"
                                          name="comments" disabled></textarea>
                            </div>
                        </div>
                    </div> <!-- end row -->

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Статус заказа</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <input type="hidden" id="edit_order_id" name="order_id" value="">
                        <input type="hidden" id="edit_order_status" name="order_status" value="">
                        <div class="mt-3 m-auto" style="width: 100px;">
                            <div class="form-check form-radio-danger">
                                <input type="radio" id="placed-Radio" name="orderRadio" class="form-check-input">
                                <label class="form-check-label" for="placed-Radio">Создан</label>
                            </div>
                            <div class="form-check form-radio-warning">
                                <input type="radio" id="packed-Radio" name="orderRadio" class="form-check-input">
                                <label class="form-check-label" for="packed-Radio">Упакован</label>
                            </div>
                            <div class="form-check form-radio-primary">
                                <input type="radio" id="shipped-Radio" name="orderRadio" class="form-check-input">
                                <label class="form-check-label" for="shipped-Radio">Отправлен</label>
                            </div>
                            <div class="form-check form-radio-success">
                                <input type="radio" id="delivered-Radio" name="orderRadio" class="form-check-input">
                                <label class="form-check-label" for="delivered-Radio">Доставлен</label>
                            </div>
                        </div>
                        <div class="mt-3 text-center">
                            <button class="btn rounded-pill btn-primary" type="submit"
                                    name="btn_products" value="change_status">Обновить
                            </button>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <script>

        function set_order_data(address, country, city, zip_postal, comments) {
            document.getElementById("address").value = address;
            document.getElementById("country").value = country;
            document.getElementById("city").value = city;
            document.getElementById("zip_postal").value = zip_postal;
            document.getElementById("comments").value = comments;
        }

        function set_order_status(id, status) {
            document.getElementById("edit_order_id").value = id;
            document.getElementById("edit_order_status").value = status;
            let radios = document.getElementsByName("orderRadio");
            for (let radio of radios) {
                radio.checked = radio.id.includes(status);
                radio.addEventListener('change', function () {
                    document.getElementById("edit_order_status").value = this.id.split('-')[0];
                });
            }
        }

    </script>

{% endblock %}