{% extends 'student-base.html' %}

{% block title %}
    Attendance
{% endblock %}

{% block css %}

{% endblock %}

{% block body %}


    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{{ url_for('student.student_home') }}">Студент</a></li>
                        <li class="breadcrumb-item active">Посещаемость</li>
                    </ol>
                </div>
                <h4 class="page-title">Посещаемость</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row mb-3">
        <div class="col-2">
            <form id="filter_years_form" method="post">
                <label class="form-label">Год</label>
                <input hidden type="number" id="start_year" name="start" value="">
                <input hidden type="number" id="end_year" name="end" value="">
                <select onchange="change_years();" id="select_years"
                        class="select2 form-control select2-multiple"
                        data-toggle="select2"
                        data-placeholder="Выбрать ...">
                </select>
            </form>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated {{ progress_color }}"
                     role="progressbar"
                     aria-valuenow="75"
                     aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%"></div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-xl-3 col-lg-4">
            <div class="card tilebox-one">
                <div class="card-body">
                    <i class="fa-solid fa-list-check float-end"></i>
                    <h6 class="text-uppercase mt-0">Количество посещений</h6>
                    <h2 class="my-2" id="active-users-count">{{ visits_count }} / {{ visits_aim }}</h2>
                    <p class="mb-0 text-muted">
                        <span class="text-success me-2">{{ percent }}%</span>
                        <span class="text-nowrap">пройдено</span>
                    </p>
                </div> <!-- end card-body-->
            </div>
            <!--end card-->

            <div class="card tilebox-one">
                <div class="card-body">
                    <i class="fa-solid fa-wave-square float-end"></i>
                    <h6 class="text-uppercase mt-0">Частота посещений</h6>
                    <h2 class="my-2" id="active-views-count">{{ frequency }}</h2>
                    <p class="mb-0 text-muted">
                        <span class="text-nowrap me-1">0</span>
                        <a style="color: red" class="fa-solid fa-thumbs-down me-lg-4"></a>
                        <span class="text-nowrap me-1">1</span>
                        <a style="color: green" class="fa-solid fa-thumbs-up"></a>
                    </p>
                </div> <!-- end card-body-->
            </div>
            <!--end card-->

            <div class="card cta-box overflow-hidden">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <h3 class="m-0 fw-normal cta-box-title">{{ extra_info }}</h3>
                        </div>
                    </div>
                </div>
                <!-- end card-body -->
            </div>
        </div> <!-- end col -->

        <div class="col-xl-9 col-lg-8">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="header-title mb-3">Шкала посещаемости</h4>
                    <div id="chart">

                    </div>
                </div>
            </div>
            <!-- end card body-->
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="d-flex card-header justify-content-between align-items-center">
                    <h4 class="header-title">Список посещаемости</h4>
                </div>

                <div class="card-body pt-0">

                    <div class="table-responsive">
                        <table class="table table-sm table-centered mb-0 font-14">
                            <thead class="table-light">
                            <tr>
                                <th>Дата</th>
                                <th style="width: 30%;">Количество</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in attendance %}
                                <tr>
                                    <td>{{ i.date.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                                    <td>{{ i.count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->
                </div> <!-- end card-body-->
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        var dataset;
        var options;
        var chart;
        draw_chart();
        set_years();
        change_years(false);

        function draw_chart() {
            dataset = {{visits_dataset | safe}};
            var random_colors = [];
            for (let i = 0; i < dataset.length; ++i) {
                random_colors.push(randomColorGenerator());
            }
            options = {
                series: [
                    {
                        name: 'Ваша посещаемость',
                        data: dataset
                    }
                ],
                chart: {
                    height: 400,
                    type: 'bar'
                },
                plotOptions: {
                    bar: {
                        columnWidth: '50%',
                        distributed: true
                    }
                },
                colors: random_colors,
                dataLabels: {
                    enabled: false
                }
            };
            chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();
        }

        function randomColorGenerator() {
            let r = Math.floor(Math.random() * 256);
            let g = Math.floor(Math.random() * 256);
            let b = Math.floor(Math.random() * 256);
            return 'rgba(' + r + ', ' + g + ', ' + b + ', 0.4)';
        }

        function set_years(sel_years = []) {
            let sel = document.getElementById("select_years");
            sel.innerHTML = "";
            let date = new Date();
            let latest = date.getFullYear();
            if (date.getMonth() + 1 >= 9) {
                ++latest;
            }
            for (let year = latest; year > 2020; --year) {
                let opt = document.createElement("option");
                opt.setAttribute("value", `${year - 1}/${year}`);
                opt.innerText = `${year - 1}/${year}`;
                if (sel_years.includes(`${year - 1}/${year}`) || (sel_years.length == 0 && year == latest)) {
                    opt.selected = true;
                }
                sel.appendChild(opt);
            }
        }

        function change_years(submit = true) {
            const years = document.getElementById("select_years").value.split("/");
            document.getElementById("start_year").value = years[0];
            document.getElementById("end_year").value = years[1];
            if (submit) document.getElementById("filter_years_form").submit();
        }

    </script>

{% endblock %}